<% provide(:title, 'About') %>
<h1>About Annotext</h1>

<p>
annotext is a web-based application that was developed at Dartmouth College to assist students in tackling difficult texts.1 It offers an alternative to such traditional reading aids as word lists, footnotes, or even standard German-English dictionaries. In essence, students access an especially-prepared work on-line and then click on any word or phrase to receive its meaning instantly. The result is a kind of pony, but one that supplies only the information that has been requested.
<br>
It is important to keep in mind that the glosses provided here intend to help the reader to understand the original, not to furnish a finished translation. A particular gloss may offer several meanings, which may not always be in the same part of speech as the original. In other words, readers will need to bring some knowledge to bear. That being said, the developer, Bruce Duncan, would be grateful to receive suggestions or corrections.
</p>
