<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Directions for Using annotext:

After you have clicked on the name of the desired text, your browser window (Firefox, Mozilla, or Netscape!) will display it in scrollable form. Note that you can resize the window or enlarge the font.

With the exception of Faust I, each of the works is presented as one continuous file that you scroll. Faust I is divided into scenes, and when you open it, it initially shows only the Zueignung. To see subsequent parts, you use the drop-down menu labeled "Choose Chapter". 

-Image-


annotext stores vocabulary items in three different ways. The following examples are taken from Faust I.


    A majority of the items are entered into a glossary as single words, as they might be in a standard dictionary. If you want to see the definition of "Zueignung," for example, you simply click on that word and receive the definition in the box on the upper left: 

-Image-

If "Zueignung" appeared anywhere else in the text, you could also click on it there and get the same definition. You can achieve the same result by typing "Zueignung" into the "Word lookup" box and clicking on "look up." This function allows you to process words that are not necessarily visible at the time. It has limited use, however, because it accesses only those words that are stored as generic items in the glossary, not as part of phrases (see below).

Even such "generic" listings confine themselves to those meanings present in this particular text. Thus "Menge" is glossed only as "crowd; mob," since Faust does not use it in the mathematical sense (i.e., "set"). On the other hand, certain words will cause several possibilities to appear. Clicking on "liebe" will produce:

   lieb adj dear; precious
   die Liebe n love
   lieben v to love

Note that not just key words are glossed. Clicking on "und" (assuming that it is not part of a set phrase [see below]) will produce "und conj and"
annotext also lemmatizes glossary entries; that is, it reconciles specific forms with a main entry. In line 1198 ("Vernunft fängt wieder an zu sprechen"), for example, a click on either "fängt" or "an" will call up "anfangen." Likewise, in the stage direction before line 460 ("Schlägt unwillig das Buch um"), clicking on either "Schlägt" or "um" will bring up "umschlagen": 

-Image-

Note that in the above figure, the parts of the separable verb are colored red. The same is true in the next line for "einwirken auf." If you wish to see where such lemmatizations are found in the prepared text, you can choose the color display under "Options": 

-Image-

 (Pay no attention to the other options - they aren't available yet).

Finally, annotext can also gloss unique phrases, which are marked in green when the color option is in effect: 

-Image-

    Here "nicht einmal dir" is treated as a unique occurrence. For obvious reasons, Faust employs this option more often than do the other available texts, resulting almost in line-by-line translations. One point: there is considerable overlap between the "red" and "green" functions that deal with phrases. The reader who selects the "display colors" option will soon conclude that the distinctions between the red and green markings are not always obvious (or important).

All glossary entries of whatever type have been shaped by pedagogical considerations, i.e. they are based on an estimation of what students might find problematic. At the same time, however, there was an attempt to cover every possible item, so that no inquiry might go unanswered. Most glosses are only linguistic, but occasionally more interpretive information is added. When Mephisto refers to Naples in line 2982, for example, the gloss points to that city's connection with syphillis. And in the case of Werther's Ossian translation, each paragraph is glossed by Macpherson's original. A future version of annotext will permit information in other media - a picture of the Dornenauszieher to accompany Kleist's Über das Marionettentheater, for example.

On occasion there will be a paragraph break in the wrong place, such as in the middle of a sentence. Pay no attention.

Another way to access annotext is to go to http://annotext.dartmouth.edu/, click on "Annotext for German," and open the text of your choice (don't "download"). Be patient: it takes a minute. 

