<% provide(:title, 'Script Error') %>
<h1>Script Error</h1>

<p>There was an error running the script.</p>

<p>Please return to the
<%= link_to "Scripts page", scripts_path %>
and select a valid text and script.<p>
