<div class="phrase-display">
  <b>Clicked Phrase ID: </b><span class="id"><%= @phrase.id %></span><br>
  <br>
  <div class="term"><%= @phrase.term %></div>
  <div class="definition"><%= @phrase.definition %></div>
  <br>
  <em>Please select the button in the editor to modify this phrase.</em>
</div>
