$grid-float-breakpoint: 1120px;
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #EAEAEA;
$gray-medium:       #BABABA;
$pine-green:        #225331;
$green-lighter:     #F4FFEB;
$green-light:       #E8F2E8;
$green-dark:        #22500F;
$red-dark:          #66110B;
$purple:            #9900CC;   /* Changes here also to texts.js variable */
$blue-light:        #3399FF;   /* Changes here also to texts.js variable */
$blue-lighter:      #EBF4FF;
$orange-light:      #FFF4EB;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  /* background-color: #FAFAFA; */
}

section {       /* !!! See Listing 7.15 in Rails Tutorial for better? */
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

blockquote {
  padding: 5px 0;
  margin: 0 50px;
  font-size: .9em;
  border-left: 0px;
}

/* header */

.navbar-toggle {
  border: 1px solid $gray-dark;
  .icon-bar {
    background-color: $gray;
  }
}

.navbar-custom {
  /* background-color: #EEF8F0; */
  /* background-color: $gray-medium-light; */
  background-color: $green-light;
  border-bottom: 1px solid $gray-light;
  a {
    /* color: #8295C4; */
    color: #9BA3B8;
    &:hover {
      /* color: #C2b9a3; */
      background-color: $green-light !important;
      color: #6B7180;
      text-decoration: none;
    }
  }
}

.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle {
    background-color: $green-lighter !important;
}

#search-dropdown, #options-dropdown {
  width: 400px;
}

#navbar-collapse-links {
  margin-right: 10px
}

#logo {              /* Visible when no translation-box */
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $pine-green;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $pine-green;
    text-decoration: none;
  }
}

.save-state {
  visibility: hidden;
}

.save-label {
  font-size: 100% !important; /* Override bootstrap label size decrease */
}

#translation-box {   /* Visible in Text "show" */
  float: left;
  top: 20px;
  width: 550px;
  height: 62px;
  margin-right: 2px;
  background-color: white;
  overflow: auto;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 1px 5px;
  @include box_sizing;
  resize: both;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

textarea, select, .form-control, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

