<div class="row">
  <aside class="col-xs-4" id="definition-column">
    <section class="column-lookup">
      <%= render 'shared/lookup_box' %>
    </section>
    <section class="column-header">
      <b>Most Recently Clicked Word:</b> <span id="current-match"></span>
    </section>
    <section class="column-gloss">
      <%= render 'shared/glossary_definitions' %>
    </section>
    <section class="column-dict">
      <%= render 'shared/dictionary_definitions' %>
    </section>
    <section class="column-phrase">
      <span id="clicked-phrase"></span>
    </section>
  </aside> 
  <div class="col-xs-8" id="ckeditor-text">
    <%= text_area_tag "editor", @content, class: 'ckeditor' %>
  </div>
</div>
