<nav class="navbar navbar-fixed-top navbar-custom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-links">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if params[:controller]=="texts" && params[:action]=="show" %>
        <div id="translation-box" class="navbar-text"></div>
      <% else %>
        <%= link_to "Annotext", root_path, id: "logo", class: "navbar-brand" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-links">
      <% if params[:controller] == "media" %>
        <%= render partial: 'layouts/media_links' %>
      <% else %>
        <%= render partial: 'layouts/header_links' %>
      <% end %>
    </div>
  </div>
</nav>
