<ul class="nav navbar-nav navbar-right">
  <li>        
    <a href="#" onclick="window.open('', '_self', ''); window.close();">              <%= content_tag(:span, "", class: "glyphicon glyphicon-remove") %>
      Close
    </a>
  </li> 
</ul>
