<li id="save-success" class="save-state">
  <p class="nav navbar-text">
    <span class="label label-success save-label">
      <%= content_tag(:span, "", class: "glyphicon glyphicon-floppy-saved") %>
      Save Successful!
    </span>
  </p>
</li>
<li id="save-failure" class="save-state">
  <p class="nav navbar-text">
    <span class="label label-danger save-label">
      <%= content_tag(:span, "", class: "glyphicon glyphicon-floppy-remove") %>
      Save Failed!
    </span>
  </p>
</li>
