<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="viewing_header">
    <div class="container">
      <div id="translation_box" style="position:absolute; top:2px; left:20px; width:550px; height:62px; border:solid 2px gray; z-index:1; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0.1em 0.1em 0.25em #a3b0bf;-webkit-box-shadow: 0.1em 0.1em 0.25em #a3b0bf;font-size:85%;background-color:#ffffff;overflow: auto">
      </div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path  %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Help",  help_path  %></li>
      </nav>
    </div>
  </div>
</header>
