<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="viewing-header">
    <div class="container">
      <div id="translation-box" class="navbar-text">
      </div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path  %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Help",  help_path  %></li>
      </nav>
    </div>
  </div>
</header>
